/*=======First banner=====*/
.header-banner{
    background-image:url(../img/texture-paper.png), url(../img/banner.jpg);
    @extend %image-background--fixed;
    height: 439px;
    img{
        width:100px;
        height: auto;
    }
    h1{
        margin:32px 0 0 10px;
    }
    div{
        margin:44px 0 0 0;
    }
}