/*===========Réalisation Banner=========*/
.rea-banner{
    padding:10rem 0;
    background-image: url(../img/lines_h2_bg.jpg);
    background-repeat: repeat;
    h2{
        color:rgba(0, 0, 0, .5); 
        margin:0 0 5rem 0;
    }
    h3{
        margin:1.5rem 0;
    }
    .row:nth-child(2){
        margin-bottom:3rem;
    }
}