@charset "UTF-8";
/*=========Variables========*/
/*======Placeholders========*/
.header-banner, .paraph-banner, .paraph-banner .paraph-banner__block, .project-banner, .contact-banner .contact-banner__form {
  background-repeat: repeat;
  background-position: center;
}

.header-banner, .paraph-banner {
  background-attachment: fixed;
}

/*============Constant block========*/
html {
  scroll-behavior: smooth;
  /*Enable scmooth scrolling*/
}

body {
  padding: 100px 0 0 0 !important;
  margin: 0;
}

body header {
  height: 93.6px;
  margin: 0 !important;
}

body .bg-white {
  background-color: transparent !important;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
}

body .bg-white.scrolled {
  background-color: #F3976C !important;
}

body header a {
  z-index: 9;
}

body header a img {
  width: 80%;
}

body footer {
  background-color: #F3976C;
}

body footer p {
  color: white;
  padding: 1rem 0;
}

body footer nav {
  padding-bottom: 1rem;
}

a {
  color: black !important;
  padding: 5px 12px;
}

a:hover {
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*========Social réseau=======*/
.social-icon .fa {
  color: rgba(255, 255, 255, 0.6);
}

.social-icon .fa:hover {
  color: white;
}

.partners p {
  color: black;
  margin-bottom: 0;
  padding: 0;
}

.partners a {
  font-size: 13px;
  font-style: italic;
}

/*===========Media queries========*/
@media (max-width: 576px) {
  header a {
    width: 80% !important;
  }
  .what-carousel {
    height: 700px !important;
    margin-bottom: 0;
  }
  .what-carousel .carousel-item h3 {
    font-size: 18px !important;
  }
  .what-carousel .carousel-item p {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .form-control {
    width: 90% !important;
  }
  #what {
    display: none;
  }
}

@media (max-width: 1023.9px) {
  #menuDesktop {
    display: none;
  }
}

@media (min-width: 992px) {
  #menuMobile {
    display: none;
  }
}

@media (min-width: 768.1px) {
  .what-carousel {
    display: none;
  }
}

/*=========Specific block==========*/
.btn-contact {
  padding: 12px 28px;
  background-color: #F3976C;
  color: black !important;
  border-radius: 40px;
  font-weight: 700;
  font-size: 20px;
}

.btn-contact:hover {
  opacity: 0.9;
  color: white;
}

.color-title {
  color: #F3976C;
}

.navlink:hover {
  background-color: #F3976C;
}

.navlink.scrolled:hover {
  background-color: white !important;
}

.navbar-expand-lg button {
  background-color: #F3976C;
}

/*=======First banner=====*/
.header-banner {
  background-image: url(../img/texture-paper.png), url(../img/banner.jpg);
  height: 439px;
}

.header-banner img {
  width: 100px;
  height: auto;
}

.header-banner h1 {
  margin: 32px 0 0 10px;
}

.header-banner div {
  margin: 44px 0 0 0;
}

/*============Presentation banner==========*/
.presentation-banner {
  margin: 5rem 0;
}

.presentation-banner h2, .presentation-banner h5, .presentation-banner .quote {
  color: rgba(0, 0, 0, 0.5);
}

.presentation-banner h2 {
  margin-bottom: 2rem;
}

.presentation-banner h5 {
  margin: 0 7rem;
}

.presentation-banner .col p {
  font-size: 11px;
}

.presentation-banner .col h3 {
  margin: 1rem 0;
}

.presentation-banner .col div {
  font-size: 4rem;
  color: #364577;
}

.presentation-banner .row {
  margin-bottom: 7rem;
}

/*=======Paragraph Banner========*/
.paraph-banner {
  background-image: url(../img/presentation.jpeg);
  height: 549px;
}

.paraph-banner .paraph-banner__block {
  background-image: url(../img/texture-paper.png);
  height: 500px;
}

.paraph-banner .paraph-banner__block .text {
  margin-top: 10%;
  margin-bottom: 2rem;
}

.paraph-banner .paraph-banner__block p:nth-child(2) {
  font-size: 13px;
  color: white;
}

/*===========Réalisation Banner=========*/
.rea-banner {
  padding: 10rem 0;
  background-image: url(../img/lines-h2-bg.png);
  background-repeat: repeat;
}

.rea-banner h2 {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 5rem 0;
}

.rea-banner h3 {
  margin: 1.5rem 0;
  font-size: 16px;
}

.rea-banner p {
  font-size: 11px;
}

.rea-banner .row:nth-child(2) {
  margin-bottom: 3rem;
}

/*========Last Banner=========*/
.project-banner {
  background-image: url(../img/texture-paper.png), url(../img/banner.jpg);
  height: 365px;
}

.project-banner div {
  margin: 44px 0 0 0;
}

/*==========Contact Banner===========*/
.contact-banner {
  background-color: white;
  padding: 5rem 0;
}

.contact-banner .contact-banner__form {
  padding: 6rem 0;
  background-image: url(../img/dots-bg.png), url(../img/texture-paper.png);
  background-color: #F3976C;
}

.contact-banner .contact-banner__form form {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.contact-banner .contact-banner__form form .form-arrea {
  text-align: left !important;
}

.contact-banner .contact-banner__form form button {
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

/*=========Map section========*/
.localisation img {
  width: 50%;
  margin-bottom: 2rem;
}

.localisation img:hover {
  opacity: 0.8;
}

.localisation p a:hover {
  text-decoration: underline !important;
}

/*=======Carousel========*/
.what-carousel {
  margin: 3rem 0;
  height: 930px;
}

.what-carousel #what-carousel img {
  margin: 1rem auto;
}

.what-carousel #what-carousel .text-carousel {
  margin-bottom: 5rem;
}

/*========Navbar Hambureger=========*/
#menuMobile {
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuMobile a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuMobile input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* To hide */
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuMobile span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuMobile span:nth-child(1) {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuMobile span:nth-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuMobile input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -3px);
          transform: rotate(45deg) translate(-2px, -3px);
  background: black;
}

#menuMobile input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuMobile input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 350px;
  margin: -100px 0 0 -300px;
  padding: 50px;
  padding-top: 125px;
  background: #F3976C;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuMobile input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}
/*# sourceMappingURL=style.css.map */