/*=========Variables========*/
$primary-color: #F3976C;
$secondary-color: white;

/*======Placeholders========*/
%image-background{
    background-repeat: repeat;
    background-position: center;
}
%image-background--fixed{
    @extend %image-background;
    background-attachment: fixed;
}
/*============Constant block========*/
html{
    scroll-behavior: smooth; /*Enable scmooth scrolling*/
}
body{
    padding:100px 0 0 0!important;
    margin:0;
    header{
        height:93.6px;
        margin:0!important;
    }
    .bg-white{
        background-color: transparent!important;
        transition: 350ms ease;
    }
    .bg-white.scrolled{
        background-color: $primary-color!important;
    }
    header{
        a{
            z-index: 9;
            img{
                width:80%;
                
            }
        }
    }
    footer{
        background-color: $primary-color;
        p{
            color:$secondary-color;
            padding:1rem 0;
        }
        nav{
            padding-bottom:1rem;
            .fa{
                color: rgba(255, 255, 255, .6);
                &:hover{
                    color:$secondary-color;
                }
            }
        }
    }
}
a{
    color:black!important;
    padding:5px 12px;
    &:hover{
        text-decoration: none!important;
    }
}
ul{
    list-style: none;
    padding-left:0;
}

/*=========Specific block==========*/
.btn-contact{
    padding: 12px 28px;
    background-color: $primary-color;
    color:black!important;
    border-radius: 40px;
    font-weight: 700;
    font-size:20px;
    &:hover{
        opacity:0.9;
        color:$secondary-color;
    }
}
.color-title{
    color:$primary-color;
}
.navlink{
    &:hover{
        background-color: $primary-color;
    }
}
.navlink.scrolled{
    &:hover{
        background-color: $secondary-color!important;
    }
}
.navbar-expand-lg{
    button{
        background-color: $primary-color;
    }
}
/*=======First banner=====*/
.header-banner{
    background-image:url(../img/texture-paper.png), url(../img/banner.jpg);
    @extend %image-background--fixed;
    height: 439px;
    img{
        width:100px;
        height: auto;
    }
    h1{
        margin:32px 0 0 10px;
    }
    div{
        margin:44px 0 0 0;
    }
}

/*============Presentation banner==========*/
.presentation-banner{
    margin:5rem 0;
    h2, h5, .quote{
        color: rgba(0, 0, 0, .5);      
    }
    h2{
        margin-bottom: 2rem;;
    }
    h5{
        margin:0 7rem;
    }
    .col{
        p{
            font-size:11px;
        }
        h3{
            margin:1rem 0;
        }
        div{
            font-size:4rem;
            color:#364577;
        }
    }
    .row{
        margin-bottom:7rem;
    }
}

/*=======Paragraph Banner========*/
.paraph-banner{
    background-image: url(../img/presentation.bmp);
    @extend %image-background--fixed;
    height:549px;
    .paraph-banner__block{
        background-image: url(../img/texture-paper.png);
        @extend %image-background;
        height:500px;
        .text{
            margin-top:10%;
           margin-bottom: 2rem;
        }
        p{
            &:nth-child(2){
                font-size: 13px;
                color: $secondary-color;
            }
         }
    }
}

/*===========Réalisation Banner=========*/
.rea-banner{
    padding:10rem 0;
    background-image: url(../img/lines-h2-bg.png);
    background-repeat: repeat;
    h2{
        color:rgba(0, 0, 0, .5); 
        margin:0 0 5rem 0;
    }
    h3{
        margin:1.5rem 0;
        font-size:16px;
    }
    p{
        font-size: 11px;
    }
    .row:nth-child(2){
        margin-bottom:3rem;
    }
}

/*========Last Banner=========*/
.project-banner{
    background-image:url(../img/texture-paper.png), url(../img/banner.jpg);
    @extend %image-background;
    height:365px;
    div{
        margin:44px 0 0 0;
    }
}

/*==========Contact Banner===========*/
.contact-banner{
    background-color: $secondary-color;
    padding:5rem 0;

    .contact-banner__form{
        padding:6rem 0;
        background-image: url(../img/dots-bg.png), url(../img/texture-paper.png);
        @extend %image-background;
        background-color: $primary-color;
        form{
            width:100%;
            margin-left: 0;
            margin-right: 0;
            .form-arrea{
                text-align:left!important;
            }
            button{
                width:30%;
                margin-top:2rem;
                margin-bottom:5rem;
            }
        }
    }
}

/*=========Map section========*/
.localisation{
    img{
        width: 50%;
        margin-bottom: 2rem;
        &:hover{
            opacity: 0.8;
        }
    }
    p{
        a{
            &:hover{
                text-decoration: underline!important;
            }
        }
    }
}

/*========Social réseau=======*/
.social-icon{
    margin-right:2rem;
}
.partners{
    margin-left:2rem;
    p{
        color:black;
        margin-bottom:0;
        padding:0;
    }
    a{
       font-size:13px; 
       font-style: italic;
    }
}

/*========Navbar Hambureger=========*/
#menuMobile {
    position: relative;  
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  a{
    text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  }
  input{
    display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  
  cursor: pointer;
  
  opacity: 0; /* To hide */
  z-index: 2; 
  
  -webkit-touch-callout: none;
  }
  span{
    display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background:black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;

    &:nth-child(1){
        transform-origin: 0% 0%;
    }
    &:nth-child(2){
        transform-origin: 0% 100%;
    }
  }


}




#menuMobile input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -3px);
  background: black;
}
#menuMobile input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuMobile input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 350px;
  margin: -100px 0 0 -300px;
  padding: 50px;
  padding-top: 125px;
  
  background: $primary-color;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(0%, -100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  li{
    padding: 10px 0;
  font-size: 22px;
  }
}
#menuMobile input:checked ~ ul
{
  transform: none;
}

/*===========Media queries========*/

@media (max-width:576px){
    header{
        a{
           width:80%!important;
        }
    }
}

@media (max-width:768px){
    .form-control{
        width:90%!important;
    }
}
@media (max-width:1023.9px){
    #menuDesktop{
        display: none;
    }
}
@media (min-width:992px){
    #menuMobile{
        display: none;
    }
}

