/*======Placeholders========*/
%image-background{
    background-repeat: repeat;
    background-position: center;
}
%image-background--fixed{
    @extend %image-background;
    background-attachment: fixed;
}