/*===========Media queries========*/
@media (max-width:576px){
    header{
        a{
           width:80%!important;
        }
    }
    .what-carousel{
        height:400px!important;
        margin-bottom:0;
        h2{
            font-size: 18px!important;
        }
        .carousel-item{
            .text-carousel{
                margin:0 3rem;
            }
            h3{
                font-size:18px!important;
            }
            p{
                font-size: 13px;
            }
        }
    }
    .quote{
        font-size: medium;
        color: black!important;
        opacity: 0.7;
    }
    .quote-container{
        margin-top: -50px!important;
    }
    .paraph-banner, .paraph-banner__block{
        height:400px!important;
        .first-pg{
            font-size: 16px!important;
        }
        .h5{
            font-size: 14px!important;
        }
    }
    .project-banner{
        height: 200px!important;
        p{
            font-size: 20px!important;
        }
    }
    .localisation{
        p{
            font-size: 15px!important;
        }
    }
    h1{
        font-size: 50px!important;
    } 
}
@media (min-width:576px) and (max-width:768px){
    .what-carousel{
        height: 500px!important;
    }
}

@media (max-width:768px){
    .form-control{
        width:90%!important;
    }
    .what{
        display:none!important;
    }
}
@media (max-width:1023.9px){
    #menuDesktop{
        display: none;
    }
}
@media (max-width:1024px){
    .paraph-banner{
        h4{
            font-size: 23px!important;
        }
        p{
            font-size: 17px!important;
            font-weight: 400;
        }
    }
}
@media (min-width:992px){
    #menuMobile{
        display: none;
    }
}
@media (min-width:768.1px){
    .what-carousel{
        display:none;
    }
}

