/*===========Media queries========*/

@media (max-width:576px){
    header{
        a{
           width:80%!important;
        }
    }
    .what-carousel{
        height:700px;
        margin-bottom:0;
        .carousel-item{
            h3{
                font-size:18px!important;
            }
            p{
                font-size: 13px;
            }
        }
    }
    
}

@media (max-width:768px){
    .form-control{
        width:90%!important;
    }
    #what{
        display:none;
    }
}
@media (max-width:1023.9px){
    #menuDesktop{
        display: none;
    }
}
@media (min-width:992px){
    #menuMobile{
        display: none;
    }
}
@media (min-width:768.1px){
    .what-carousel{
        display:none;
    }
}

